body {
    background-color: rgb(255, 255, 255);
    color:brown;
    font-family: Verdana;
  }

  header {
    color:rgb(10, 6, 1);
    }
    
    body {
      background-color: rgb(255, 255, 255);
      color: black;
    }
    